html {
    overflow-y: scroll; /* always display scroll bar to prevent abrupt left shift */
}

body{
    background-color: #f8f8f8;
    margin: 0;
    padding:0;
    font-family: PingFang SC;
}

.global{
    background-color: #ffffff;
    width: 1001px;
    min-height: 1000px;
    margin:  auto;
    padding:5px 15px 100px 15px;
}
.header {
    position: relative;
    vertical-align: middle;
    padding: 15px 0;
    margin: 0;
}
.logo{
    vertical-align: middle;
}
.nav-cell{
    margin: 10pt;
}
.nav-cells{
    margin: 0 0 0 250pt;
}
.result{
    margin: 20px 0;
}

.elem{
/*    background: #cd5c5c;*/
    padding: 10px 10px;
    margin: 0 2px;
    border: 2px solid white;
    background-color: #eeeeee;
    border-radius: 5px;
    display: inline-block;
}
.elem-content{
    padding: 2px 0;
    display: none;
}